@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  transition: all 0.3s ease;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 7px;
}

html[class="dark"] select {
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

input:focus-visible,
select:focus-visible {
  outline: rgba(31, 190, 31, 0.7) auto 1px;
}

button:focus-visible {
  outline: rgba(0, 0, 0, 0.6) auto 1px;
}

html[class="dark"] button:focus-visible {
  outline: rgba(38, 244, 38, 0.7) auto 1px;
}
